.todos_wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;

    .todos_single {
        width: 100%;
        margin: 15px auto;
    }
}

.todos_wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;

    .todos_single {
        width: 100%;
        margin: 15px auto;
    }
}